html{
  background-color: #f4f4f4;
}


.Page-Overview {
  width: 289px;
  height: 37px;
  font-family: Roboto;
  font-size: 34px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #6c6c6c;
   
}
#root {
  background-color: #f4f4f4;
}




.App-header {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  color: #f4f4f4;
}


.data {
  border-radius: 15px;
  box-shadow: 0 0 6px 1px rgba(188, 188, 188, 0.5);
  background-color: #29cb97;
  max-height: 6em;
  width: 20%;
  margin-right: 3.5%;
  margin-bottom: 1em;
  display: inline-block;
}
    

.data p{
  margin-bottom: 5%;
  position: relative;
  text-align: right;
  margin-right: 5%;
  
}

.data-number{
  font-family: Roboto;
  font-size: 1.7em;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.data-name{
  font-family: Roboto;
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  position: relative;
  top: -1em;
}

.data-image{
  float: left;
  /*Duvidas em relação ao alinhamento de uma div dentro de outra div*/
  margin-top: 2em;
  margin-left: .5em;
  width: 2.3em;
  height: 2.3em;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  flex-shrink: 0;

}

#Visitor{
  background-color: #29cb97;
}

#Visitor img{

}

#User{
  background-color: #fec400;
}

#Sales{
  background-color: #4c84ff;
}

#Order{
  background-color: #ca66ff
}

h2{
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #6c6c6c;
}

.App-traffic-graph{
  width: 59%;
  height: 10em;
  border-radius: 15px;
  box-shadow: 0 0 6px 1px rgba(188, 188, 188, 0.5);
  background-color: #ffffff;
  height: 40%;
}

Bar{
  margin-bottom: 2em;
}