html{
  background-color: #f4f4f4;
}


h1,h2{
  font-family: Roboto;
  color: #6c6c6c; 
}

/*Titulos das sessões*/
h2{
  font-size: 100%;
  padding-top: 2%;
}

.AppDataBase{
  display: flex;
  justify-content: space-between;
  margin-bottom: 3%;
}

.data {
  /*Duvida em relação ao uso da */
  width: 22%;
  border-radius: 15px;
  box-shadow: 0 0 6px 1px rgba(188, 188, 188, 0.5);
  background-color: #29cb97;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.data-content{
  display: block;
  /*Problemas em aproximar as duas infos*/
  align-content: center;
  text-align: end;
  padding-inline-end: 10%;
  padding-top: 10%;
  padding-bottom: 10%;
}

.data-image{
  width: 25%;
  height: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-inline-start: 5%;
}

.pData{
  font-family: Roboto;
  color: white;
  margin: 0;
}


.data-number{
  font-weight: bold;
  font-size: 200%;
}

.data-name{
  font-size: 100%;
}


/*Configurando a cor de cada data*/
#Visitor{
  background-color: #29cb97
}

#User{
  background-color: #fec400
}

#Sales{
  background-color: #4c84ff;
}

#Order{
  background-color: #ca66ff;
}











.App-traffic-graph{
  border-radius: 15px;
  box-shadow: 0 0 6px 1px rgba(188, 188, 188, 0.5);
  background-color: white;
  width: 60%;
}



.graph-idem{
  margin: 3%;
}